[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wondernath
[access "refs/for/refs/*"]
	read = group user/wondernath
	push = group user/wondernath
	label-Code-Review = -2..+2 group user/wondernath
	label-Verified = -1..+1 group user/wondernath
	rebase = group user/wondernath
	removeReviewer = group user/wondernath
	submit = group user/wondernath
[access "refs/heads/*"]
	read = group user/wondernath
	create = group user/wondernath
	push = +force group user/wondernath
	pushMerge = group user/wondernath
[access "refs/tags/*"]
	push = group user/wondernath
	push = +force group user/wondernath
